{% extends "account/layout.html" %}

{% block content %}

	<div class="mainbox">
		<div class="container">
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4 ">
					<div class="loginbox">
						<div class="row">
							<div class="col-md-2"></div>
							
							<div class="col-md-8 loginboxtitle">
								Clothup
							</div>
							<div class="col-md-2"></div>
						</div>
						<div class="row">
							

							<div class="col-md-12 ">
								<div class="input-group loginboxtext">
									<span class="input-group-addon" id="basic-addon1"><i class="fa fa-user" aria-hidden="true"></i></span>
									<input type="text" class="form-control" placeholder="홍길동" aria-describedby="basic-addon1">
								</div>
								<div class="input-group loginboxtext">
									<span class="input-group-addon" id="basic-addon1"><i class="fa fa-user" aria-hidden="true"></i></span>
									<input type="text" class="form-control" placeholder="ID" aria-describedby="basic-addon1">
								</div>
								<div class="input-group loginboxtext">
									<span class="input-group-addon" id="basic-addon1"><i class="fa fa-key" aria-hidden="true"></i></span>
									<input type="text" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
								</div>
								<div class="input-group loginboxtext">
									<span class="input-group-addon" id="basic-addon1"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
									<input type="text" class="form-control" placeholder="sample@gmail.com" aria-describedby="basic-addon1">
								</div>
								<div class="row">
									<div class="col-md-5">
										<label for="sel1"></label>
										<select class="form-control" id="sel1">
											<option>시/도</option>
											<option>2</option>
											<option>3</option>
											<option>4</option>
										</select>
									</div>
									<div class="col-md-7">
										<label for="sel1"></label>
										<select class="form-control" id="sel1">
											<option>군/구</option>
											<option>2</option>
											<option>3</option>
											<option>4</option>
										</select>
										
									</div>
									
								</div>
							</div>
							
							

							<div class="row">
								<div class="col-md-12 loginboxbtnbox">
									
									<input type="button" class="btn loginbox-signup" value="Sign up">
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4"></div>
				</div>
			</div>
		</div> 
{% endblock %}
