

{% extends "main/layout.html" %}

{% block content %}
{% load staticfiles %}

<div class="row">
    <div class="row">
        <div class="col s12 l12">
            <div class="col s12 l12">
                <h5>{{ category }}</h5>
                <div class="divider"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 l12">
            <div class="col s12 l12">
                {% for item in category_item %}
                <div class="col s12 l4">
                <div class="card" onclick="location.href='/clothdetail/{{ item.cloth_name }}'">
                        <div class="card-image">
                            <img src="/media/{{ item.cloth_img }}">
                        </div>
                        <div class="card-content">
                            <p>{{ item.cloth_name }}</p>
                        </div>

                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
