
{% extends "main/layout.html" %}
{% load staticfiles %}
{% block content %}

	<div class="mainbox">
		<div class="container">
			<div class="row">

				<div class="col-md-8 col-md-offset-2">
					<div class="row">
						<div class = "col-md-3">
							<p class ="logo">Clothup</p>
						</div>
						<div class  = "col-md-6">
							<div class="input-group search-item">
								<input class="form-control" placeholder="Search for..."> 
								<span class="input-group-btn">
									<button class="btn btn-default" type="button">Go!</button> 
								</span> 
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-2 categorybox">
							<i class="fa fa-home" aria-hidden="true"></i>
						</div>
						<div class="col-md-2 categorybox">
							<i class="fa fa-home" aria-hidden="true"></i>
						</div>
						<div class="col-md-2 categorybox">
							<i class="fa fa-home" aria-hidden="true"></i>
						</div>
						<div class="col-md-2 categorybox">
							<i class="fa fa-home" aria-hidden="true"></i>
						</div>
						<div class="col-md-2 categorybox">
							<i class="fa fa-home" aria-hidden="true"></i>
						</div>
						<div class="col-md-2 categorybox">
							<i class="fa fa-home" aria-hidden="true"></i>
						</div>
					</div>
					<div class="realtime-goods">
						<div class = "row">
							<div class = "col-md-6 realtime-goods-title no-padding">
								<span> {{user.name}}실시간  cloth</span>
							</div>
							<div class = "col-md-6 realtime-sort">
								<div class="btn-group btn-group-xs" role="group" aria-label="Small button group"> 
									<button type="button" class="btn btn-default">신규 등록순</button>
									<button type="button" class="btn btn-default">마감임박순</button> 
									<button type="button" class="btn btn-default">마감임박순</button> 
								</div>
							</div>
						</div>
						<div class = "row realtime-goods-items">
							<div class="row">
								<div class="col-md-3 goods-item">
									<img class="goods-item-img" src="{% static 'main/img/cloth1.jpg' %}">
									<div class="col-md-12 no-padding">
										<p class="item-status">상태  <span class="item-level">A+</span></p>
										<p  class = "item-desc">
											존잘 방진형이 착용한 포켓몬 이브이 맨투맨
										</p>	
										<p class="item-bo">  보증금 <span class="item-boji">10000</span></p>
										<p class="item-bo">  보증금 <span class="item-boji">10000</span></p>
									</div>
								</div>
								<div class="col-md-3 goods-item">
									<img class="goods-item-img" src="{% static 'main/img/cloth1.jpg' %}">
									<div class="col-md-12 no-padding">
										<p class="item-status">상태  <span class="item-level">A+</span></p>
										<p  class = "item-desc">
											존잘 방진형이 착용한 포켓몬 이브이 맨투맨
										</p>	
										<p class="item-bo">  보증금 <span class="item-boji">10000</span></p>
										<p class="item-bo">  보증금 <span class="item-boji">10000</span></p>
									</div>
								</div>
								<div class="col-md-3 goods-item">
									<img class="goods-item-img" src="{% static 'main/img/cloth1.jpg' %}">
									<div class="col-md-12 no-padding">
										<p class="item-status">상태  <span class="item-level">A+</span></p>
										<p  class = "item-desc">
											존잘 방진형이 착용한 포켓몬 이브이 맨투맨
										</p>	
										<p class="item-bo">  보증금 <span class="item-boji">10000</span></p>
										<p class="item-bo">  보증금 <span class="item-boji">10000</span></p>
									</div>
								</div>
								<div class="col-md-3 goods-item">
									<img class="goods-item-img" src="{% static 'main/img/cloth1.jpg' %}">
									<div class="col-md-12 no-padding">
										<p class="item-status">상태  <span class="item-level">A+</span></p>
										<p  class = "item-desc">
											존잘 방진형이 착용한 포켓몬 이브이 맨투맨
										</p>	
										<p class="item-bo">  보증금 <span class="item-boji">10000</span></p>
										<p class="item-bo">  보증금 <span class="item-boji">10000</span></p>
									</div>
								</div>
								<div class="col-md-3 goods-item">
									<img class="goods-item-img" src="{% static 'main/img/cloth1.jpg' %}">
									<div class="col-md-12 no-padding">
										<p class="item-status">상태  <span class="item-level">A+</span></p>
										<p  class = "item-desc">
											존잘 방진형이 착용한 포켓몬 이브이 맨투맨
										</p>	
										<p class="item-bo">  보증금 <span class="item-boji">10000</span></p>
										<p class="item-bo">  보증금 <span class="item-boji">10000</span></p>
									</div>
								</div>

							</div>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>
	{% endblock %}