{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

    <link rel ="stylesheet" href="{% static 'main/css/base.css' %}" />
    <link rel ="stylesheet" href="{% static 'main/css/main.css' %}" />

    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

</head>

<body>
    <nav class="custom-nav">
        <div class="nav-wrapper nav-color">
            <a href="/" class="brand-logo center nav-logo"><img src="{% static 'main/img/clothup-logo.png' %}" width="120px;"></a>
            <ul id="nav-mobile" class="left hide-on-med-and-down nav-search">
            <form action="/search" method="get">
            {% csrf_token %}
        <li><input type="text" class ="main-search" name="search" /></li>
        <li><button type="submit" class="search-icon"><i class="material-icons search-icon">search</i></button></li></form>
      </ul>
            <ul id="nav-mobile" class="right nav-account hide-on-med-and-down">
            {% if request.user.is_authenticated %}
            <li><a class = "red-text text-darken-2" href="/account/logout">LOGOUT</a></li>
                <li><a class = "red-text text-darken-2" href="/mypage">MYPAGE</a></li>
            {% else %}
                <li><a class = "red-text text-darken-2" href="/account/signup">SIGNUP</a></li>
                <li><a class = "red-text text-darken-2" href="/account/login">LOGIN</a></li>
                <!--  <input type="text" name=""> -->
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class = "container">
        <div class="row content">
            <div class="col l2">
                <div class="stuck-left">
                    <div class="collection ">
                        <a href="/category/아우터" class="collection-item {% if category == '아우터' %}active{% endif %}">아우터</a>
                        <a href="/category/셔츠" class="collection-item {% if category == '셔츠' %}active{% endif %}">셔츠/블라우스</a>
                        <a href="/category/교복" class="collection-item {% if category == '교복' %}active{% endif %}">교복</a>
                        <a href="/category/상의" class="collection-item {% if category == '상의' %}active{% endif %}">상의</a>
                        <a href="/category/하의" class="collection-item {% if category == '하의' %}active{% endif %}">하의</a>
                        <a href="/category/원피스" class="collection-item {% if category == '원피스' %}active{% endif %}">원피스</a>
                        <a href="/category/신발" class="collection-item {% if category == '신발' %}active{% endif %}">신발</a>
                        <a href="/category/가방 " class="collection-item {% if category == '가방' %} active {% endif %}">가방</a>

                    </div>
                    <div class="card ">
                        <div class="card-content">
                            <span class="card-title">거래랭킹</span>
                            <p><img src="{% static 'main/img/GOLd.png' %}" width="15px">1. stealstick</p>
                            <p><img src="{% static 'main/img/SILVER.png' %}" width="15px">2. stillstick</p>
                            <p><img src="{% static 'main/img/BRONZE.png' %}" width="15px">3. admin</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col l7">
                <div class="row">
                    
                    <div class="col l12">
                        {% block content %}{% endblock %}
                    </div>

                </div>
            </div>
            <div class="col l3">
                <div class="row">
                    {% if request.user.is_authenticated %}
<div class="col s12 l12 stuck-right">
    <div class="card">
        <div class="card-content ">
            <div class="row ">
            notification
                <div class="divider"></div>
                <br />
            </div>
            {% for send in my_send %}
            <div class="row">
                <div class="col s12 l3 no-padding">
                    <img src="media/{{ send.cloth.cloth_img }}" width="40px" class="circle responsive-img">
                </div>
                <div class="col s12 l9">
                    <a class = "event"> 
                        <!-- notice the "circle" class -->
                        <span class="lend-user">{{ send.owner }}</span>님이 옷 공유를 요청하셨습니다.
                    </a>
                    <p class ="event-sub">{{ send.update.time }}
                    </p>
                </div>

            </div>
            {% endfor %}
        </div>
    </div>

    <div class="card">
        <div class="card-content">
            <div class="row">
                Rent item
                <div class="divider"></div>
            </div>
       
                {% for rent_item in rent %}
            <div class="row">
                <div class="col s12 l3 no-padding">
                    <img src="media/{{ rent_item.cloth_img }}" width="40px" class="responsive-img">
                </div>
                <div class="col s12 l5">
                    <a class = "event"> 
                        <!-- notice the "circle" class -->
                        {{ rent_item.cloth_name }}
                    </a>
                    <p class ="event-sub">{{ rent_item.owner.name }}
                    </p>
                </div>
                <div class="col s12 l4 waves-effect waves-light btn like valign-wrapper center-align" onclick="location.href='/returnitem?cloth_name={{ rent_item.cloth_name }}'">
                    return

                </div>
            </div>
            {% endfor %}
            
            
        </div>
    </div>
</div>
</div>
{% endif %}
                </div>
            </div>
        </div>
        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="js/materialize.min.js"></script>
        <script> $(document).ready(function(){
            $('ul.tabs').tabs('select_tab', 'tab_id');
        });

    </script>
</body>
</html>