

{% extends "main/layout.html" %}

{% block content %}
{% load staticfiles %}

<div class="row">
	<div class="col s12 l12">
		<div class="card">
			<div class="card-image">
				<img src="{% static 'main/img/logo.png' %}">
			</div>
			<div class="card-content">
				<p>
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12 l12">
			<div class="col s12 l12">
				<h5>신규 등록 상품</h5>
				<div class="divider"></div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12 l12">
			<div class="col s12 l12">
				<div class="col s12 l4">
					<div class="card">
						<div class="card-image">
							<img src="{% static 'main/img/cloth1.jpg' %}">
						</div>
						<div class="card-content">
							<p>선린인터넷 고등학교 교복 치마</p>
						</div>

					</div>
				</div>
				<div class="col s12 l4">
					<div class="card">
						<div class="card-image">
							<img src="{% static 'main/img/cloth1.jpg' %}">
						</div>
						<div class="card-content">
							<p>선린인터넷 고등학교 교복 치마</p>
						</div>

					</div>
				</div>
				<div class="col s12 l4">
					<div class="card">
						<div class="card-image">
							<img src="{% static 'main/img/cloth1.jpg' %}">
						</div>
						<div class="card-content">
							<p>선린인터넷 고등학교 교복 치마</p>
						</div>

					</div>
				</div>
				<div class="col s12 l4">
					<div class="card">
						<div class="card-image">
							<img src="{% static 'main/img/cloth1.jpg' %}">
						</div>
						<div class="card-content">
							<p>선린인터넷 고등학교 교복 치마</p>
						</div>

					</div>
				</div>
				<div class="col s12 l4">
					<div class="card">
						<div class="card-image">
							<img src="{% static 'main/img/cloth1.jpg' %}">
						</div>
						<div class="card-content">
							<p>선린인터넷 고등학교 교복 치마</p>
						</div>

					</div>
				</div>
				<div class="col s12 l4">
					<div class="card">
						<div class="card-image">
							<img src="{% static 'main/img/cloth1.jpg' %}">
						</div>
						<div class="card-content">
							<p>선린인터넷 고등학교 교복 치마</p>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block rightside %}
{% if request.user.is_authenticated %}
<div class="col s12 l12 stuck-right">
	<div class="card">
		<div class="card-content ">
			<div class="row ">
			notification
				<div class="divider"></div>
				<br />
				<div class="col s12 l3 no-padding">
					<img src="{% static 'main/img/cloth1.jpg' %}" width="40px" class="circle responsive-img">
				</div>
				<div class="col s12 l9">

					<a class = "event"> 
						<!-- notice the "circle" class -->
						<span class="lend-user">stealstick</span>님이 옷 공유를 요청하셨습니다.
					</a>
					<p class ="event-sub">11분전
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col s12 l3 no-padding">
					<img src="{% static 'main/img/cloth1.jpg' %}" width="40px" class="circle responsive-img">
				</div>
				<div class="col s12 l9">
					<a class = "event"> 
						<!-- notice the "circle" class -->
						<span class="lend-user">stealstick</span>님이 옷 공유를 요청하셨습니다.
					</a>
					<p class ="event-sub">11분전
					</p>
				</div>

			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-content">
			<div class="row">
				Rent item
				<div class="divider"></div>
			</div>
			<div class="row">
				<div class="col s12 l3 no-padding">
					<img src="{% static 'main/img/cloth1.jpg' %}" width="40px" class="responsive-img">
				</div>
				<div class="col s12 l5">
					<a class = "event"> 
						<!-- notice the "circle" class -->
						와이셔츠
					</a>
					<p class ="event-sub">stealstick
					</p>
				</div>
				<div class="col s12 l4 like valign-wrapper center-align" >
					<a class="valign center-align" > 
						<!-- notice the "circle" class -->
						return
					</a>

				</div>
			</div>
			
			<div class="row">
				<div class="col s12 l3 no-padding">
					<img src="{% static 'main/img/cloth1.jpg' %}" width="40px" class="responsive-img">
				</div>
				<div class="col s12 l5">
					<a class = "event"> 
						<!-- notice the "circle" class -->
						와이셔츠
					</a>
					<p class ="event-sub">stealstick
					</p>
				</div>
				<div class="col s12 l4 like valign-wrapper center-align" >
					<a class="valign center-align" > 
						<!-- notice the "circle" class -->
						return
					</a>

				</div>
			</div>
			<div class="row">
				<div class="col s12 l3 no-padding">
					<img src="{% static 'main/img/cloth1.jpg' %}" width="40px" class="responsive-img">
				</div>
				<div class="col s12 l5">
					<a class = "event"> 
						<!-- notice the "circle" class -->
						와이셔츠
					</a>
					<p class ="event-sub">stealstick
					</p>
				</div>
				<div class="col s12 l4 like valign-wrapper center-align" >
					<a class="valign center-align" > 
						<!-- notice the "circle" class -->
						return
					</a>

				</div>
			</div>
			
		</div>
	</div>
</div>
</div>
{% endif %}
{% endblock %}
