body{
	background-color: #ece8e8;
	background-image: url('/static/main/img/clothup.png');
	background-size: 100vw !important;
}
.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.16),0 1px 1px 0 rgba(0,0,0,0.12);

}
.content{
padding-top :80px;
}
.collection .collection-item.active {
    background-color: rgb(250,0,0);
    color: #eafaf9;
}
.collection a.collection-item {
    display: block;
    transition: .25s;
    color: rgb(250,0,0);
}
.container{
	width: 80%;
}
.custom-nav{
	height: 60px;
	position: fixed;
	z-index: 8;
}
.nav-account{
	margin-right: 10%;
}
.nav-search{
	margin-left: 10%;
}
.main-search{
	color: #000 !important;
	background-color: #ececec !important;
	border: none !important;
	height: 30px !important;
	width: 130% !important;
}
.nav-color {
	background-color: #fff;
	 position: fixed;
}

.nav-logo{
	margin-top: 10px;
	color : rgb(250,0,0) !important;
}
#left-shoptext{
	color : #606369;

}
.left-list{
	margin-top: 8px;
	color: #63666e;
}
.event{
	color: #000;
}
.event-sub{
	color: #b1b1b1 !important;
}
.like{
	border-style: solid;
	border-color: #427fbb;
	border-width: 1px;
	height: 42px;
	border-radius: 4px;
}

.stuck-left {
    position: fixed;
    width: 12%;
}
.stuck-right {
    position: fixed;
    width: 20% !important;
}
.search-icon{
	background-color: rgba(0,0,0,0);
	border: none;
	height: 60px;
}