{% extends "clothdetail/layout.html" %}
{% load staticfiles %}
{% block content %}

<div class="row clothdetail-layout">
	<div class="col s12 m12">
		<div class="card">
			<div class="card-content">
				<div class="row">
					<div class="col s12 m5">
						<div >
						<img src="/media/{{ cloth.cloth_img }}" class="cloth-image-box">
						</div>
					</div>
					<div class="col s12 m1">
					</div>
					<div class="col s12 m5">
						<div class="row">
							<span class="cloth-title">
								{{ cloth.cloth_name }}
							</span>
						</div>
						<span class="detail-clothinfo">
							<div class="row detail-clothexplanation">
								{{ cloth.cloth_intro }}
							</div>
						</span>
						<span class="detail-costtxt">
							<div class="row nomargin detail-rentcost">
								대여료 : <span class="cost">{{ cloth.bo_prize }}원</span>
							</div>
							<div class="row nomargin detail-guaranteecost">
								보증금 : <span class="cost">{{ cloth.lent_prize }}원</span>
							</div>
						</span>
						<div class="row">
							<div class="col s12 m4 nopadding seller-info">
								<span class="seller-infotxt">
									판매자 정보<br>
									{{ cloth.owner.name }}
								</span>
							</div>
							<div class="col s12 m1 nopadding">
							</div>
							<div class="col s12 m3 nopadding average-grade">
								<span class="average-title-gradetxt">평균 평점</span>
								<span class="average-gradetxt">
									5.0
								</span>
							</div>
						</div>
						<div class="row">
							<button class="communication" onClick="window.open('/send/{{ cloth.owner.name }}?item={{ cloth.cloth_name }}', '', 'width=400, height=270'); return false;">
								판매자에게 연락하기
							</button>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col s12 m12">
						<h5>상세 설명</h5>
                <div class="divider"></div>
					</div>

				<div class="row">
					<div class="col s12 m12">
						<pre class="clothdetail-Explanation">
{{ cloth.cloth_about }}
						</pre>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
{% block rightside %}

<div class="col s12 l12 stuck-right">
	<div class="card">
		<div class="card-content ">
			<div class="row ">
				notification
				<div class="divider"></div>
				<br />
				<div class="col s12 l3 no-padding">
					<img src="{% static 'main/img/cloth1.jpg' %}" width="40px" class="circle responsive-img">
				</div>
				<div class="col s12 l9">

					<a class = "event"> 
						<!-- notice the "circle" class -->
						<span class="lend-user">stealstick</span>님이 옷 공유를 요청하셨습니다.
					</a>
					<p class ="event-sub">11분전
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col s12 l3 no-padding">
					<img src="{% static 'main/img/cloth1.jpg' %}" width="40px" class="circle responsive-img">
				</div>
				<div class="col s12 l9">
					<a class = "event"> 
						<!-- notice the "circle" class -->
						<span class="lend-user">stealstick</span>님이 옷 공유를 요청하셨습니다.
					</a>
					<p class ="event-sub">11분전
					</p>
				</div>

			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-content">
			<div class="row">
				Rent item
				<div class="divider"></div>
			</div>
			<div class="row">
				<div class="col s12 l3 no-padding">
					<img src="{% static 'main/img/cloth1.jpg' %}" width="40px" class="responsive-img">
				</div>
				<div class="col s12 l5">
					<a class = "event"> 
						<!-- notice the "circle" class -->
						와이셔츠
					</a>
					<p class ="event-sub">stealstick
					</p>
				</div>
				<div class="col s12 l4 like valign-wrapper center-align" >
					<a class="valign center-align" > 
						<!-- notice the "circle" class -->
						return
					</a>

				</div>
			</div>
			
			<div class="row">
				<div class="col s12 l3 no-padding">
					<img src="{% static 'main/img/cloth1.jpg' %}" width="40px" class="responsive-img">
				</div>
				<div class="col s12 l5">
					<a class = "event"> 
						<!-- notice the "circle" class -->
						와이셔츠
					</a>
					<p class ="event-sub">stealstick
					</p>
				</div>
				<div class="col s12 l4 like valign-wrapper center-align" >
					<a class="valign center-align" > 
						<!-- notice the "circle" class -->
						return
					</a>

				</div>
			</div>
			<div class="row">
				<div class="col s12 l3 no-padding">
					<img src="{% static 'main/img/cloth1.jpg' %}" width="40px" class="responsive-img">
				</div>
				<div class="col s12 l5">
					<a class = "event"> 
						<!-- notice the "circle" class -->
						와이셔츠
					</a>
					<p class ="event-sub">stealstick
					</p>
				</div>
				<div class="col s12 l4 like valign-wrapper center-align" >
					<a class="valign center-align" > 
						<!-- notice the "circle" class -->
						return
					</a>

				</div>
			</div>
			
		</div>
	</div>
</div>
</div>
{% endblock %}
