{% extends "clothdetail/layout.html" %}
{% load staticfiles %}
{% block content %}

<div class="row clothdetail-layout">
	<div class="col s12 m12">
		<div class="card">
			<div class="card-content">
				<div class="row">
					<div class="col s12 m5">
						<div class="cloth-image-box">
						</div>
					</div>
					<div class="col s12 m1">
					</div>
					<div class="col s12 m5">
						<div class="row">
							<span class="cloth-title">
								[선린인고]남자 교복자켓
							</span>
						</div>
						<span class="detail-clothinfo">
							<div class="row detail-clothexplanation">
								선린인터넷고 남자 교복입니다.
								사이즈는 100입니다.
								2번밖에 안입어서 상태는 좋습니다.
								연락주세요.
							</div>
						</span>
						<span class="detail-costtxt">
							<div class="row nomargin detail-rentcost">
								대여료 : <span class="cost">8,000원</span>
							</div>
							<div class="row nomargin detail-guaranteecost">
								보증금 : <span class="cost">50,000원</span>
							</div>
						</span>
						<div class="row">
							<div class="col s12 m4 nopadding seller-info">
								<span class="seller-infotxt">
									판매자 정보<br>
									이예림123
								</span>
							</div>
							<div class="col s12 m1 nopadding">
							</div>
							<div class="col s12 m3 nopadding average-grade">
								<span class="average-title-gradetxt">평균 평점</span>
								<span class="average-gradetxt">
									5.0
								</span>
							</div>
						</div>
						<div class="row">
							<button class="communication">
								판매자에게 연락하기 >
							</button>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col s12 m12">
						<pre class="clothdetail-Explanation">
안녕하세요 저는 방진형입니다.
컹S 컹스
방진성은 존잘에 짱짱코더입니다.
방진성은 코딩실력뿐만아니라 패션센스도 정말 대단합니다.
그 방진성이 입었던 엄청난 맨투맨티셔츠를 대여해드립니다.
옷 반납시 깨끗하게 돌려주시기바랍니다.
						</pre>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
{% block rightside %}

<div class="col s12 l12 stuck-right">
	<div class="card">
		<div class="card-content ">
			<div class="row ">
				notification
				<div class="divider"></div>
				<br />
				<div class="col s12 l3 no-padding">
					<img src="{% static 'main/img/cloth1.jpg' %}" width="40px" class="circle responsive-img">
				</div>
				<div class="col s12 l9">

					<a class = "event"> 
						<!-- notice the "circle" class -->
						<span class="lend-user">stealstick</span>님이 옷 공유를 요청하셨습니다.
					</a>
					<p class ="event-sub">11분전
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col s12 l3 no-padding">
					<img src="{% static 'main/img/cloth1.jpg' %}" width="40px" class="circle responsive-img">
				</div>
				<div class="col s12 l9">
					<a class = "event"> 
						<!-- notice the "circle" class -->
						<span class="lend-user">stealstick</span>님이 옷 공유를 요청하셨습니다.
					</a>
					<p class ="event-sub">11분전
					</p>
				</div>

			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-content">
			<div class="row">
				Rent item
				<div class="divider"></div>
			</div>
			<div class="row">
				<div class="col s12 l3 no-padding">
					<img src="{% static 'main/img/cloth1.jpg' %}" width="40px" class="responsive-img">
				</div>
				<div class="col s12 l5">
					<a class = "event"> 
						<!-- notice the "circle" class -->
						와이셔츠
					</a>
					<p class ="event-sub">stealstick
					</p>
				</div>
				<div class="col s12 l4 like valign-wrapper center-align" >
					<a class="valign center-align" > 
						<!-- notice the "circle" class -->
						return
					</a>

				</div>
			</div>
			
			<div class="row">
				<div class="col s12 l3 no-padding">
					<img src="{% static 'main/img/cloth1.jpg' %}" width="40px" class="responsive-img">
				</div>
				<div class="col s12 l5">
					<a class = "event"> 
						<!-- notice the "circle" class -->
						와이셔츠
					</a>
					<p class ="event-sub">stealstick
					</p>
				</div>
				<div class="col s12 l4 like valign-wrapper center-align" >
					<a class="valign center-align" > 
						<!-- notice the "circle" class -->
						return
					</a>

				</div>
			</div>
			<div class="row">
				<div class="col s12 l3 no-padding">
					<img src="{% static 'main/img/cloth1.jpg' %}" width="40px" class="responsive-img">
				</div>
				<div class="col s12 l5">
					<a class = "event"> 
						<!-- notice the "circle" class -->
						와이셔츠
					</a>
					<p class ="event-sub">stealstick
					</p>
				</div>
				<div class="col s12 l4 like valign-wrapper center-align" >
					<a class="valign center-align" > 
						<!-- notice the "circle" class -->
						return
					</a>

				</div>
			</div>
			
		</div>
	</div>
</div>
</div>
{% endblock %}
