
{% extends "mypage/layout.html" %}

{% block content %}
{% load staticfiles %}

<div class="row user-icon-box">
	<div class="center-align col m4 offset-m4">
		<img src="/static/main/img/cloth1.jpg" width="100%;" class="circle responsive-img">
	</div>
</div>
<div class="row">
	<div class="left-align col m8 offset-m4">
		<span class="user-imfo">아이디</span>
		<span class="user-imfo-text">{{ request.user.name }}</span><br>
		<span class="user-imfo">주소 &nbsp;&nbsp;&nbsp;</span>
		<span class="user-imfo-text">{{ request.user.area }}</span>
	</div>
</div>
<hr>

<div class="row">
	<div class="col s12 l12">
		<div class="col s12 l12">
			<div class="col s12 l12">
				<span class="mycloth-text">내 옷 &nbsp;</span>
			</div>

			{% for cloth in my_cloth %}
			<div class="col s12 l3">
				<div class="card">
					<div class="card-image">
						<img src="{% static 'main/img/cloth1.jpg' %}" class="card-image-img">
						<a href="#" class="card-image-x">X&nbsp; </a>
					</div>
					<div class="card-content card-content-myclothup">
						<p>{{ cloth.cloth_name }}</p>

					</div>

				</div>
			</div>
			{% endfor %}
			<div class="col s12 l3">
				<div class="card card-plus valign-wrapper center-align">
					
					<a href="/clothupload" class="card-plus-plusbtn valign ">+</a>
				</div>
			</div>
		</div>
	</div>
</div>
<hr>
<div class="row">
	<div class="col s12 l12">
		<div class="col s12 l12">
			<div class="col s12 l12">
				<span class="mycloth-text">대여물품 &nbsp;</span>
				<div class="col s12 m12">
					
					<div class="card horizontal horizontalcard-box" >
						<div class="card-image">
							<img src="{% static 'main/img/cloth1.jpg' %}" class="horizontalcard-image">
						</div>
						<div class="card-stacked">
							<div class="card-content horizontalcard-text">
								<p class="card-content-title">[선린인터넷고] 여자 교복치마</p>
								<p class="card-content-money">보증금 30,000 &nbsp; 대여금 5,000</p>
								<p>
									판매자: 갓진형
								</p>
								<p class="card-content-rentalperiod">
									대여기간: 2016/10/26~2016/11/1
								</p>
							</div>
							
						</div>
					</div>
				</div>
				<div class="col s12 m12">
					
					<div class="card horizontal horizontalcard-box" >
						<div class="card-image">
							<img src="{% static 'main/img/cloth1.jpg' %}" class="horizontalcard-image">
						</div>
						<div class="card-stacked">
							<div class="card-content horizontalcard-text">
								<p class="card-content-title">[선린인터넷고] 여자 교복치마</p>
								<p class="card-content-money">보증금 30,000 &nbsp; 대여금 5,000</p>
								<p>
									판매자: 갓진형
								</p>
								<p class="card-content-rentalperiod">
									대여기간: 2016/10/26~2016/11/1
								</p>
							</div>
							
						</div>
					</div>
				</div>
				<div class="col s12 m12">
					
					<div class="card horizontal horizontalcard-box" >
						<div class="card-image">
							<img src="{% static 'main/img/cloth1.jpg' %}" class="horizontalcard-image">
						</div>
						<div class="card-stacked">
							<div class="card-content horizontalcard-text">
								<p class="card-content-title">[선린인터넷고] 여자 교복치마</p>
								<p class="card-content-money">보증금 30,000 &nbsp; 대여금 5,000</p>
								<p>
									판매자: 갓진형
								</p>
								<p class="card-content-rentalperiod">
									대여기간: 2016/10/26~2016/11/1
								</p>
							</div>
							
						</div>
					</div>
				</div>
				<div class="col s12 m12">
					
					<div class="card horizontal horizontalcard-box" >
						<div class="card-image">
							<img src="{% static 'main/img/cloth1.jpg' %}" class="horizontalcard-image">
						</div>
						<div class="card-stacked">
							<div class="card-content horizontalcard-text">
								<p class="card-content-title">[선린인터넷고] 여자 교복치마</p>
								<p class="card-content-money">보증금 30,000 &nbsp; 대여금 5,000</p>
								<p>
									판매자: 갓진형
								</p>
								<p class="card-content-rentalperiod">
									대여기간: 2016/10/26~2016/11/1
								</p>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block rightside %}

<div class="col s12 l12 stuck-right">
	<div class="card">
		<div class="card-content ">
			<div class="row ">
			notification
				<div class="divider"></div>
				<br />
				<div class="col s12 l3 no-padding">
					<img src="{% static 'main/img/cloth1.jpg' %}" width="40px" class="circle responsive-img">
				</div>
				<div class="col s12 l9">

					<a class = "event"> 
						<!-- notice the "circle" class -->
						<span class="lend-user">stealstick</span>님이 옷 공유를 요청하셨습니다.
					</a>
					<p class ="event-sub">11분전
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col s12 l3 no-padding">
					<img src="{% static 'main/img/cloth1.jpg' %}" width="40px" class="circle responsive-img">
				</div>
				<div class="col s12 l9">
					<a class = "event"> 
						<!-- notice the "circle" class -->
						<span class="lend-user">stealstick</span>님이 옷 공유를 요청하셨습니다.
					</a>
					<p class ="event-sub">11분전
					</p>
				</div>

			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-content">
			<div class="row">
				Rent item
				<div class="divider"></div>
			</div>
			<div class="row">
				<div class="col s12 l3 no-padding">
					<img src="{% static 'main/img/cloth1.jpg' %}" width="40px" class="responsive-img">
				</div>
				<div class="col s12 l5">
					<a class = "event"> 
						<!-- notice the "circle" class -->
						와이셔츠
					</a>
					<p class ="event-sub">stealstick
					</p>
				</div>
				<div class="col s12 l4 like valign-wrapper center-align" >
					<a class="valign center-align" > 
						<!-- notice the "circle" class -->
						return
					</a>

				</div>
			</div>
			
			<div class="row">
				<div class="col s12 l3 no-padding">
					<img src="{% static 'main/img/cloth1.jpg' %}" width="40px" class="responsive-img">
				</div>
				<div class="col s12 l5">
					<a class = "event"> 
						<!-- notice the "circle" class -->
						와이셔츠
					</a>
					<p class ="event-sub">stealstick
					</p>
				</div>
				<div class="col s12 l4 like valign-wrapper center-align" >
					<a class="valign center-align" > 
						<!-- notice the "circle" class -->
						return
					</a>

				</div>
			</div>
			<div class="row">
				<div class="col s12 l3 no-padding">
					<img src="{% static 'main/img/cloth1.jpg' %}" width="40px" class="responsive-img">
				</div>
				<div class="col s12 l5">
					<a class = "event"> 
						<!-- notice the "circle" class -->
						와이셔츠
					</a>
					<p class ="event-sub">stealstick
					</p>
				</div>
				<div class="col s12 l4 like valign-wrapper center-align" >
					<a class="valign center-align" > 
						<!-- notice the "circle" class -->
						return
					</a>

				</div>
			</div>
			
		</div>
	</div>
</div>
</div>
{% endblock %}
