body{
	background-color: #ebeced;
}
.container{
	width: 90%;
}
.nav-color {
	background-color: #fff;
}
.nav-logo{
	color : #263238 !important;
}
.item-size{
	padding: 2px !important;
	height: 150px;
}
.tab-custom{
	background-color: #263238;
	height: 40px;
}
.tab-font{
	color: #fff !important;
}
.tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #eeff41;
    will-change: left, right;
}
#left-shoptext{
	color : #606369;

}
.left-list{
	margin-top: 8px;
	color: #63666e;
}
.event{
	color: #000;
}
.event-sub{
	color: #b1b1b1 !important;
}